.cuerpo_administrar_usuarios{
    width: 100%;
    min-height: 700px;
    background-color: #f1f1f1;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: auto;
}
.contenedor_administrar_usuarios{
    width: 80%;
    height: fit-content;
    background-color: #ffffffff;
    padding: 25px;
    border-radius: 15px;

}
.tarjeta_administrar_usuarios{
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: space-between;
    background-color: #f1f1f1;
    border-radius: 15px;
    margin: 25px 0 25px 0;
}
.descripcion_administrar_usuarios{
   display: flex;
   flex-direction: column;
}
.acciones_administrar_usuarios{
    color: #00ffff;
}

/*
.contenedor_administrar_usuarios{
    width: 80%;
    height: fit-content;
    background-color: #ffffffff;
    padding: 25px;
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill , minmax(15rem, 1fr));
   
}
.tarjeta_administrar_usuarios{
    background-color: aqua;
}*/