<%- layout('layouts/main.ejs') %>
<div class="imagen_principal">

    <div class="contenedor_menu">
        <div class="menu_posicionizquierda">
            <ul>
                <li class="letrasmenu_izquierdo"><a href="">jeans</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Playeras</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Sudaderas</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Chamarras</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Pants</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Accesorios</a></li>
            </ul>
        </div>

        <div class="menu_posicionderecha">
            <div class="posderecha_iniciar">
                <h3>Crear cuenta de usuario</h3>
                <a href="">crear cuenta</a>
            </div>
            <div class="posderecha_colaborador">
                <h3>Crear cuenta de colaborador</h3>
                <a href="">crear cuenta de colaborador</a>
            </div>
        </div>
    </div>

</div>

<div class="cuerpo_index">
    <div class="cuerpo_tarjetas">
        <% Articulo.forEach(function(articulo){ %>
            <div class="tarjeta_articulo_venta">
                <div class="imagen_tarjeta_venta">
                    <img src="" alt="imagen de venta">
                </div>
                <div class="informacion_tarjeta_venta">
                    <h3><%= articulo.nombre_articulo %></h3>
                    <p><%= articulo.descripcion %></p>
                    <p><%= articulo.color%></p>
                </div>
                <div class="botones_tarjeta_venta">
                    <button>Agregar al carrito</button>
                </div>
            </div>    
            <% }) %>
    </div>
    
</div>

