<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style_signup.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
    <title>Signup</title>
</head>
<body> 
    <div class="contenedor_signup">
        <div class="signup_logo">
            <a href="/"><img src="img/logo_small.png" alt=""></a>
            <h2>Crear cuenta de comprador</h2>
        </div>
        <form action="/signup" method="post" class="signup_formato">
            <ul>
                <li class="signup_datos"><input type="text" name="email" id="" placeholder="Correo" required></li>
                <li class="signup_datos"><input type="text" name="password" id="" placeholder="Contraseña" required></li>
                <li class="signup_datos"><input type="text" name="name" id="" placeholder="Nombre" required></li>
                <li class="signup_datos"><input type="text" name="phone" id="" placeholder="Número de teléfono" required></li>
                <li class="signup_datos"><input type="text" name="cuenta" id="" placeholder="Tipo de cuenta" required></li>
            </ul>
            <button type="submit">Signup</button>
        </form>
    </div>

</body>
</html>